.btn-linksignup.btn-outline-dark {
    border-radius: 24px;
}
.sign-border::after{
    content: '';
    border-bottom: 1px solid;
    position: absolute;
    left: 0;
    right: 0;
    width: 170px;
    margin: 0 auto;
    top: 0px;
}